body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}
p {
    position: fixed;
    right: 10px;
    margin: 0;
}
#total {
    top: 10px;
}
#remaining {
    top: 30px;
}
#add {
    position: fixed;
    top: 10px;
    left: 10px;
    margin: 0;
    cursor: pointer;
    background: url("icons/add.png");
    background-size: 25px;
    width: 25px;
    height: 25px;
    border: none;
}
.magnet {
    position: absolute;
    border: 1px solid black;
    cursor: pointer;
    padding: 20px;
    background-color: #fff;
}
.del, .edit {
    position: absolute;
    top: 3px;
    width: 17px;
    height: 17px;
    cursor: pointer;
    border: none;
}
.del {
    right: 3px;
    background: url("icons/del.png");
    background-size: 17px;
}
.edit {
    left: 3px;
    background: url("icons/edit.png");
    background-size: 17px;
}
.resizer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 17px;
    height: 17px;
    cursor: nwse-resize;
    background: url("icons/resize.png");
    background-size: 17px;
}
.content {
    overflow: auto;
    width: 100%;
    height: 100%;
}
#editor {
    position: fixed;
    width: 70vw;
    left: 50%;
    transform: translate(-50%);
    top: 10vh;
    display: none;
}
.content > * {
    position: relative;
    left: 0;
}
#saveEdit, #cancelEdit {
    width: 25px;
    height: 25px;
    margin: 2px;
    cursor: pointer;
    border: none;
}
#saveEdit {
    background: url("icons/save.png");
    background-size: 25px;
}
#cancelEdit {
    background: url("icons/del.png");
    background-size: 25px;
}
#fridge {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: none;
}
#getter {
    position: absolute;
    width: 300px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#getter > label {
    font-size: xx-large;
}
#input {
    width: 260px;
}
#get {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
    background: url("icons/ok.png");
    background-size: 25px;
}